<footer>
    <h4>See our other blogs!</h4>
    <hr>                
    <div class="footer-links">
        <ul>
            <li><a href="#">USA</a></li>
            <li><a href="#">Sri Lanka</a></li>
            <li><a href="#">New Zealand</a></li>
            <li><a href="#">South Africa</a></li>
            <li><a href="#">Hong Kong</a></li>
        </ul>  
        <ul>
            <li><a href="#">Thailand</a></li>
            <li><a href="#">Malaysia</a></li>
            <li><a href="#">Romania</a></li>
            <li><a href="#">Japan</a></li>
            <li><a href="#">Korea</a></li>
        </ul>                
        <ul>
            <li><a href="#">Thailand</a></li>
            <li><a href="#">Malaysia</a></li>
            <li><a href="#">Romania</a></li>
            <li><a href="#">Japan</a></li>
            <li><a href="#">Korea</a></li>
        </ul>
    </div>
</footer>