<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Journey Journal | About Us</title>
    <link rel="shortcut icon" href="./img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../stylesheets/about-us.css">
    <link rel="stylesheet" href="../../stylesheets/main/footer.css">
    <link rel="stylesheet" href="../../stylesheets/main/navbar.css">
    <script src="../../scripts/jquery-3.3.1.min.js"></script>
</head>

<body>
    <% include ./partials/navbar %>

    <div class="container">
        <img src="img/general/GC_JS.JPG">

        <div class="description">
            <p>Hi! Thank you for taking the time to read our Travel Journals! <br><br>Our names are Sandra and Joey. We travel so here blog! READ!
            </p>
        </div>
    </div>
    

        
    <% include ./partials/footer %>
</body>
</html>