<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Journey Journal</title>
    <link rel="shortcut icon" href="./img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="./stylesheets/landing.css">
    <script src="./scripts/jquery-3.3.1.min.js"></script>
    <script src="./scripts/landing/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="./scripts/landing/jquery-jvectormap-world-mill.js"></script>
</head>

<body>    
    <div id="outer-modal" hidden></div>
    <h1>Journey Journal</h1>   
    
    <div class="modal" id="LK" >
        <h2>Sri Lanka</h2>
        <p>People stink and are rude. joey and food good tho</p>
        <p>16 days</p>
        <a href="/srilanka">To blog</a>
    </div>    
    <div class="modal" id="US" >
        <h2>USA</h2>
        <p>MAny tourist, good food, good car, good joey</p>
        <p>16 days</p>
        <a href="#">To blog</a>
    </div>
    <div class="modal" id="ZA" >
        <h2>South Africa</h2>
        <p>Monkeys, lions, sharks, whales, joey</p>
        <p>24 days</p>
        <a href="#">To blog</a>
    </div>
    <div class="modal" id="NZ" >
        <h2>New Zealand</h2>
        <p>LOTR HOBBIT JOEY</p>
        <p>152 days</p>
        <a href="/newzealand">To blog</a>
    </div>
    <div class="modal" id="TH" >
        <h2>Thailand</h2>
        <p>Chineze looking people, good food and joey</p>
        <p>19 days</p>
        <a href="#">To blog</a>
    </div>
    <div class="modal" id="MY" >
        <h2>Malaysia</h2>
        <p>FOOOD PEOPLE AND JOEY</p>
        <p>10 days</p>
        <a href="#">To blog</a>
    </div>
    <div class="modal" id="CN" >
        <h2>Honk Kong / China</h2>
        <p>JET-LI AND JOE-Y</p>
        <p>10 days</p>
        <a href="#">To blog</a>
    </div>
    <div class="modal" id="JP" >
        <h2>Japan</h2>
        <p>NIET JOEY :(</p>
        <p>10 days</p>
        <a href="#">To blog</a>
    </div>
    <div class="modal" id="KR" >
        <h2>Korea(s)</h2>
        <p>WHERE JOEY?</p>
        <p>10 days</p>
        <a href="#">To blog</a>
    </div>
    <div class="modal" id="GB" >
        <h2>England</h2>
        <p>PIP PIP CHEERIO JOEY</p>
        <p>10 days</p>
        <a href="#">To blog</a>
    </div>
    <div class="modal" id="RO" >
        <h2>Romania</h2>
        <p>Ahktually I can drink even when Im sick</p>
        <p>10 days</p>
        <a href="#">To blog</a>
    </div>

    <div class="menu-btn">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="menu" hidden>
        <ul id="menu-items" hidden>
            <a href="/srilanka"><li>Sri Lanka</li></a>
            <a href="/srilanka"><li>New Zealand</li></a>
            <a href="/srilanka"><li>California</li></a>
            <a href="/srilanka"><li>South Africa</li></a>
            <a href="/srilanka"><li>Thailand</li></a>
            <a href="/srilanka"><li>Malaysia</li></a>
            <a href="/srilanka"><li>Hong Kong</li></a>
        </ul>        
    </div>

    <div id="world-map" style="width: 90vw; height: 85vh"></div>
        
    <script src="./scripts/landing/landing.js"></script>
</body>
</html>