<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Journey Journal | New Zealand</title>
    <link rel="shortcut icon" href="./img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">    
    <link rel="stylesheet" href="./stylesheets/main/paralax.css">
    <link rel="stylesheet" href="./stylesheets/stories-main.css">
    <link rel="stylesheet" href="./stylesheets/main/image-reel.css">
    <link rel="stylesheet" href="./stylesheets/main/footer.css">
    <script src="./scripts/jquery-3.3.1.min.js"></script>
    <!-- Manually load all the top paralax pictures in here -->
    <style type="text/css">
		#paralax-1{background-image: url(img/newzealand/paralax/paralax-1.png)}
		#paralax-2{background-image: url(img/newzealand/paralax/paralax-2.png)}
		#paralax-3{background-image: url(img/newzealand/paralax/paralax-3.png)}
		#paralax-4{background-image: url(img/newzealand/paralax/paralax-4.png)}
        #paralax-5{background-image: url(img/newzealand/paralax/paralax-5.png)} 
        #paralax-6{background-image: url(img/newzealand/paralax/paralax-6.png)} 
    </style>
</head>
<body>
    <div id="modal" hidden>
        <img src="" alt="" id="big-image">
        <p id="description">Text here</p>
    </div>

	<div id="paralax">
		<div id="paralax-1" class="paralax-image"></div>
		<div id="paralax-2" class="paralax-image"></div>
		<div id="paralax-3" class="paralax-image"></div>
		<div id="paralax-4" class="paralax-image"></div>
		<div id="paralax-5" class="paralax-image"></div>
		<div id="paralax-6" class="paralax-image"></div>
        <div class="scroll-btn"></div>
	</div>
              
    <% include ../partials/navbar %>    
    <div id="nav-ph"></div>

    <% include ../partials/svg/nz-svg %> 
    
    <section id="title">
        <h1>New Zealand</h1>
        <p><em>28 days, 17 hotels</em></p>
        <hr>                
    </section>

    <section class="blog-post">        
        <p>Dit is de blog die we van plan zijn een paar keer per week up te daten tijdens onze reis. Door het tijdverschil (12 uur!) wordt het moeilijk om veel in 
            direct contact te komen met jullie; we weten niet eens zeker hoe vaak we toegang hebben tot het Internet. Plus, we kunnen hier zelf ook een leuke 
            herinnering mee maken!</p>
        <p>Een ander voordeel van de blog is dat het wat moeilijker te vinden is. We willen onze reis liever niet openbaar maken op Facebook en dergelijke, 
            vooral omdat we niet naar een leeg huis terug willen keren xD Mochten jullie dus op deze posts willen reageren (yay), dan zouden we het fijn vinden 
            als jullie niet op de Facebook like button klikken! 
            We zullen echter onze best doen om de posts leuk genoeg te maken ;D</p>                    
        <p>We vertrekken aanstaande maandagmiddag, 5 uur, en zullen woensdagochtend vroeg in Auckland aankomen. We zullen zo snel mogelijk over het verloop van 
            de vlucht en de aankomst bloggen!</p>
        <hr>

        <div class="image-reel-container" id="reel1">
            <button class="scroll-left" disabled>&lt;</button>
            <div class="image-reel"></div>
            <button class="scroll-right">&gt;</button>
        </div>      
    </section>
    
    <div class="background-paralax" style="background-image: url(img/newzealand/background-paralax/IMG_1549.JPG)"></div>
    
    <section class="blog-post">
        <p>Na een lange, lange reis zijn we eindelijk heelhuids aangekomen!</p>
        <p>De reis begon onmiddelijk met een tegenslag op Schiphol, omdat we tijdens het boarden te horen kregen dat één van onze stoelen was weggegeven aan iemand die 
            voor de dieren in het ruim moest zorgen. We zaten namelijk helemaal achterin en dat was schijnbaar het dichtst bij de dieren. Ze begrepen niet dat we daar 
            op in hebben kunnen checken! Onze plek was er nog wel, maar dan voorin het vliegtuig, dus na ontzettend lang regelen en stressen hebben ze het nog voor elkaar 
            gekregen om ons weer naast elkaar te zetten (we moesten die vlucht wakker blijven, en samen is dat toch leuker).</p>
        <p>Uiteindelijk bleek dat diegene die op de stoel van ons zou zitten nooit is gekomen (gehoord van een oud teamgenoot van Joey, die heel toevallig als stand by-er 
            ook op deze vlucht zat) - veel gedoe voor niks! Met de vlucht zelf, van KLM, was niet zo veel mis, alleen was het allemaal aan de wat krappe kant.</p>
        <p>De overstap ging verder helemaal goed; we kunnen nu officieel zeggen dat we in China zijn geweest, haha! Niks bijzonders gedaan op Shanghai Pudong Airport, 
            alleen maar een beetje winkels gekeken en gewacht op de overstap. De tweede vlucht, van Air New Zealand, was veel luxer en we zaten met twee stoelen bij het 
            raam (met niemand naast ons). Hier hebben we geprobeerd te slapen, maar dat is alleen maar voor de helft van de tijd gelukt eigenlijk. Toch hebben we op dit 
            moment weinig last van de jetlag.</p>
        <p>De huurauto is gelijk op het vliegveld opgehaald en is vrijwel hetzelfde model als de auto van ons thuis, met als enige kleine verschil dat het stuur aan de 
            verkeerde kant zit, haha! Het rijden was voor Joey erg wennen aan het begin omdat je als heel snel teveel aan de linkerkant zit, maar het wende snel. We zijn 
            meteen naar het hotel in het centrum van Auckland gereden, waar we gelukkig vroeg in konden checken (we waren er al om half tien!).</p>
        <p>We hebben de dag doorgebracht met een bezoek aan de Auckland Zoo en het Auckland Museum; beide enorm grote bezienswaardigheden waar de hele dag gelijk mee gevuld 
            was. Gelukkig was het overal heerlijk rustig. In de ochtend was het super mooi weer, maar in de middag begon het langzaam te regenen. Tegen de tijd dat we in het 
            museum waren was het nog erger, maar binnen merk je er toch niks van. Het waait ook niet en is nog steeds niet koud!</p>
        <p>Op dit moment, 8 uur 's avonds, zijn we vooral mentaal heel moe (Auckland is nogal.. apart) en gaan zo maar lekker vroeg naar bed, maar niet voor deze uitgebreide 
            post natuurlijk! Hopelijk hebben we voor de volgende ook zoveel tijd :P</p>
        <p>Morgen hebben we ook nog de hele dag in Auckland en overmorgen rijden we naar Hahei voor twee broodnodige stranddagen!</p>
        <hr>

    </section>
    
    <div class="background-paralax" style="background-image: url(img/newzealand/background-paralax/IMG_1679.JPG)"></div>

    <section class="blog-post">
        <p>Kia ora! Tijd voor een korte update, want we hebben vandaag onze eerste langere road trip gemaakt.</p>                
        <p>In de avond zijn we in Auckland nog voor de laatste keer de Skytower in gegaan - maar dit keer niet om te springen! We konden hier mooi op het hoogste punt van 
            Auckland de stad donker zien worden, met een 360 graden uitzicht. We zijn alleen wel in de regen terug naar het hotel gerend!</p>
        <p>De volgende dag (vanmorgen voor ons) zijn we uitgechecked en in 2,5 uur naar Hahei gereden. De road trip ging ongeveer een uur door de bergen, met ook hier weer 
            onvoorstelbaar mooie uitzichten. In Hahei zelf zijn we met de Hahei Explorer langs de kust gaan varen (met heel hoge snelheid). We zijn grotten ingegaan en 
            hebben onderweg o.a. vissen, kwallen, pijlstaartroggen en zelfs pinguins gezien! Het weer zat ook mee. Het spetterde in de ochtend, maar na de zonnige 
            boottocht hebben we nog een paar uur op Hahei Beach uitgerust - het werd nog erg warm. We sluiten deze dag af met een etentje op Hot Water Beach, waar we 
            morgen onze eigen warm water baden in het zand kunnen gaan graven, en posten zo snel mogelijk weer wat!</p>
        <hr>
    </section>

    <div class="background-paralax" style="background-image: url(img/newzealand/background-paralax/IMG_1599.JPG)"></div>

    <section class="blog-post">
        <p>Kia ora! Tijd voor een korte update, want we hebben vandaag onze eerste langere road trip gemaakt.</p>
        <p>Gisteren begonnen we de tweede en laatste dag in Auckland met een wake-up call door van de Auckland Sky Tower af te springen! De Sky Jump is een soort bungee 
            jump, maar dan recht naar beneden, zonder terug omhoog te bouncen. De toren is het hoogste gebouw in heel Nieuw-Zeeland en de sprong was vanaf 192 meter hoog, 
            dus het was een flinke val! Bovendien hadden we geluk; omdat het rustig was die dag, mochten we een tweede keer gratis springen - en dat deden we achteruit!</p>                
        <p>In de avond zijn we in Auckland nog voor de laatste keer de Skytower in gegaan - maar dit keer niet om te springen! We konden hier mooi op het hoogste punt van 
            Auckland de stad donker zien worden, met een 360 graden uitzicht. We zijn alleen wel in de regen terug naar het hotel gerend!</p>
        <p>De volgende dag (vanmorgen voor ons) zijn we uitgechecked en in 2,5 uur naar Hahei gereden. De road trip ging ongeveer een uur door de bergen, met ook hier weer 
            onvoorstelbaar mooie uitzichten. In Hahei zelf zijn we met de Hahei Explorer langs de kust gaan varen (met heel hoge snelheid). We zijn grotten ingegaan en 
            hebben onderweg o.a. vissen, kwallen, pijlstaartroggen en zelfs pinguins gezien! Het weer zat ook mee. Het spetterde in de ochtend, maar na de zonnige 
            boottocht hebben we nog een paar uur op Hahei Beach uitgerust - het werd nog erg warm. We sluiten deze dag af met een etentje op Hot Water Beach, waar we 
            morgen onze eigen warm water baden in het zand kunnen gaan graven, en posten zo snel mogelijk weer wat!</p>
        <p>De volgende dag (vanmorgen voor ons) zijn we uitgechecked en in 2,5 uur naar Hahei gereden. De road trip ging ongeveer een uur door de bergen, met ook hier weer 
            onvoorstelbaar mooie uitzichten. In Hahei zelf zijn we met de Hahei Explorer langs de kust gaan varen (met heel hoge snelheid). We zijn grotten ingegaan en 
            hebben onderweg o.a. vissen, kwallen, pijlstaartroggen en zelfs pinguins gezien! Het weer zat ook mee. Het spetterde in de ochtend, maar na de zonnige 
            boottocht hebben we nog een paar uur op Hahei Beach uitgerust - het werd nog erg warm. We sluiten deze dag af met een etentje op Hot Water Beach, waar we 
            morgen onze eigen warm water baden in het zand kunnen gaan graven, en posten zo snel mogelijk weer wat!</p>
        <hr>
    </section>

    <div class="background-paralax" style="background-image: url(img/newzealand/background-paralax/IMG_5623.JPG)"></div>

    <section class="blog-post">                                
        <p>In de avond zijn we in Auckland nog voor de laatste keer de Skytower in gegaan - maar dit keer niet om te springen! We konden hier mooi op het hoogste punt van 
            Auckland de stad donker zien worden, met een 360 graden uitzicht. We zijn alleen wel in de regen terug naar het hotel gerend!</p>
        <p>De volgende dag (vanmorgen voor ons) zijn we uitgechecked en in 2,5 uur naar Hahei gereden. De road trip ging ongeveer een uur door de bergen, met ook hier weer 
            onvoorstelbaar mooie uitzichten. In Hahei zelf zijn we met de Hahei Explorer langs de kust gaan varen (met heel hoge snelheid). We zijn grotten ingegaan en 
            hebben onderweg o.a. vissen, kwallen, pijlstaartroggen en zelfs pinguins gezien! Het weer zat ook mee. Het spetterde in de ochtend, maar na de zonnige 
            boottocht hebben we nog een paar uur op Hahei Beach uitgerust - het werd nog erg warm. We sluiten deze dag af met een etentje op Hot Water Beach, waar we 
            morgen onze eigen warm water baden in het zand kunnen gaan graven, en posten zo snel mogelijk weer wat!</p>
        <p>De volgende dag (vanmorgen voor ons) zijn we uitgechecked en in 2,5 uur naar Hahei gereden. De road trip ging ongeveer een uur door de bergen, met ook hier weer 
            onvoorstelbaar mooie uitzichten. In Hahei zelf zijn we met de Hahei Explorer langs de kust gaan varen (met heel hoge snelheid). We zijn grotten ingegaan en 
            hebben onderweg o.a. vissen, kwallen, pijlstaartroggen en zelfs pinguins gezien! Het weer zat ook mee. Het spetterde in de ochtend, maar na de zonnige 
            boottocht hebben we nog een paar uur op Hahei Beach uitgerust - het werd nog erg warm. We sluiten deze dag af met een etentje op Hot Water Beach, waar we 
            morgen onze eigen warm water baden in het zand kunnen gaan graven, en posten zo snel mogelijk weer wat!</p>
        <hr>
    </section>

    <% include ../partials/footer %>

    <script type="text/javascript">
        window.addEventListener("DOMContentLoaded", scrollLoop, false);

        var parallax1 = document.querySelector("#paralax-1");
        var parallax2 = document.querySelector("#paralax-2");
        var parallax3 = document.querySelector("#paralax-3");
        var parallax4 = document.querySelector("#paralax-4");
        var parallax5 = document.querySelector("#paralax-5");
        var yScrollPos;

        function scrollLoop(e) {
            yScrollPos = window.scrollY;

            setTranslate(0, yScrollPos * 0.8, parallax1);
            setTranslate(0, yScrollPos * 0.7, parallax2);
            setTranslate(0, yScrollPos * 0.6, parallax3);
            setTranslate(0, yScrollPos * 0.4, parallax4);
            setTranslate(0, yScrollPos * 0.2, parallax5);
            requestAnimationFrame(scrollLoop);
        }
        function setTranslate(xPos, yPos, el) {
            el.style.transform = "translate3d(" + xPos + ", " + yPos + "px, 0)";
        }
        
    </script>
    <script type="text/javascript" src="./scripts/views-main/navbar.js"></script>
    <script type="text/javascript" src="./scripts/views-main/map-route.js"></script>
    <script type="text/javascript" src="./scripts/views-main/image-reels/image-reel-NZ.js"></script>
</body>
</html>