body {
    font-family: 'Montserrat', sans-serif;
    background: white;
}

.main {
    background:white;
    margin: 0 auto;
}

section {
    background-color: white;
    /* margin: 0 20%; */
    padding: 25px 25%;
}

/* .container {
    padding: 25px 40px;
    width: 60%;
    background-color: white;
    margin: 0 auto;
} */

#title h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
}

#title hr {
    border: 1px solid black;
}

#title p {
    text-align: center;
}

.blog-post hr {
    width: 80%;
}