body {
    font-family: 'Montserrat', sans-serif;
    background: white;
}
/* NAVBAR STYLE */
.navbar {
    display: flex;
    justify-content: space-between;
    background: #ff798d;
    color: white;
}

.nav-ph {
    height: 39px;
}

.nav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.menu, .logo {
    margin: 10px 20px;
    display: flex;
    height: 100%;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    height: 100%;
    cursor: pointer;
}

.menu a:hover, .menu a:active {
    background: #fa95a4;
}

.background-paralax {
    height: 500px;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* BLOG POST STYLE */
section {
    background-color: white;
    /* margin: 0 20%; */
    padding: 25px 25%;
}

#title h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
}

#title hr {
    border: 1px solid black;
}

#title p {
    text-align: center;
}

.blog-post hr {
    width: 80%;
}

/* FOOTER STYLES */

footer {
    background: #ff798d;
}

footer h4 {
    font-size: 22px;
    padding-top: 30px;
    text-align: center;
    color: white;
    margin: 0;
}

footer hr {
    width: 30%;
    margin: 25px auto;
    border: 1px solid white;
}

.footer-links {
    display: flex;
    justify-content: center;
    padding: 0 auto;
}

.footer-links ul{
    list-style: none;
    padding: 0 50px 50px 50px;
    margin: 0;
    line-height: 25px;
}

.footer-links ul a {
    text-decoration: none;
    color: white;
}

.footer-links ul a:hover {
    background: #fa95a4;
}

