.thumbnail {
    height: 120px;
    width: 180px; 
    padding: 3px;
    margin-right: 15px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.thumbnail:hover,
.thumbnail:active {
    border: 2px solid #cf6776;
}

.image-reel {
    height: 120px;
    width: 3000px;
    float: left; 
    position: relative;      
}

.image-reel-container {
    overflow: hidden;
}

.image-reel-container button {
    position: absolute;
    z-index: 10;
    height: 120px;
    outline: none;
    border: none;
    background: #ccc;
    opacity: 0.8;
    cursor: pointer;
}

.image-reel-container button:hover {
    opacity: 1;
}

.image-reel-container button:disabled {
    opacity: 0.4;
    cursor: default;
}

.scroll-right {
    right: 25%;
}

/* MODAL STYLES */

#modal {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba(0,0,0,0.9); 
    vertical-align:middle;
}

#big-image {
    display: block;
    max-width: 60%;
    max-height: 80%;
    margin: 100px auto;    
    margin-bottom: 0;
    padding-bottom: 30px;
    background-color: #ccc;
}


#description {
    text-align: center;
    margin: 0 auto;
    transform: translateY(-25px)
}