html, body{
    padding: 19px 0 0 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    top:0;
    display: flex;
    justify-content: space-between;
    background: #ff798d;
    color: white;
    position: fixed;
    width: 100%;
}

.menu, .logo {
    margin: 10px 20px;
    display: flex;
    height: 100%;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    height: 100%;
    cursor: pointer;
}

.menu a:hover, .menu a:active {
    background: #fa95a4;
}